.photo
{
    width: 50vw;
    height: 65vh;
    float: left;
    margin-right: 2vw;
}
.sejour{
    margin: 0.2rem;
    font-size: 2.2rem;
}
h6{
    font-size: 2.4rem;
    margin-top: 0;
}
.etoile
{
    font-size: 1rem;
    margin-top: 5vh;
}
.tarif
{
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 4vh;
}
.barre
{
    text-decoration:line-through red;
    font-size: 3rem;
}
.voyage button
{
    background-color: #184e77;
    margin-top: 3vh;
    width: 13vw;
    height: 10vh;
    font-size: 1.8rem;
    font-weight: bold;
}
button:hover
{
    background-color: orange;
}
.voyage
{
    width: 95vw;
    height: 80vh;
    margin-left: 2vw;
    margin-top: 9vh;
}
