/* GENERAL */
*
{
    margin: 0;
    padding: 0;
    
}

/*HEADER*/

header{
    position: relative;
    bottom: 20px;;
    height: 70px;
    width: 100vw;
    background-color: #4B7F52;
}
header h1{
font-size: 50px;
margin-left: 30px;
margin-top: 20px;
color: #FFFCF9;
}
nav{
    position: absolute;
    left: 20vw; bottom: 3px;
    
}
li {
    list-style:none !important;
    color:#FFF;
    padding:10px;
    font-size:20px;
    text-decoration:none;
    white-space: nowrap;
    
    }
    
    nav ul li {
    list-style: none;
    line-height:44px;
    float:left;
    
   
    }
    nav ul li a {
    color:#C9FFEb;
    padding:10px;
    font-size:20px;
    text-decoration:none;
    padding-left: 60px;
    position: relative;
    right: 5px;
   
    }
    a:hover{
    color: black;
    }
  nav ul li ul li a{
      color: #7DD181;
      
      
}
    nav ul li ul { display:none; } /* Rend le menu déroulant caché par défaut */
    nav ul li:hover ul { /* Affiche la dropNav au survol de la souris avec la class .drop */
    z-index:99999;
    display:list-item !important;
    position:absolute;
    margin-top:5px;
    margin-left:-10px;
    
    }
    nav ul li:hover ul li {
    float:none;
    }

.search{
    float: right;
    margin-right: 6vw;
    position: relative;
    bottom: 45px;
   height: 24px;
}
.fa-search:before{
    font-size: 16px;
    position: relative;
    left: 80vw; bottom: 41px;
}
.fa-user:before{
    position: relative;
    left: 95vw; bottom: 38px;
    font-size: 30px;
    color: black;
}
