.connexion, .inscription
{
    width: 40vw;
    height: 62vh;
    border-style: double;
    border: solid black 2px;
    background-color: #589fd4;
    text-align: center;
    vertical-align: middle;
    font-size: 1.5rem;
    margin-left: 30vw;
    margin-top: 10vh;
    padding-top: 6vh;
}
fieldset
{
    padding-top: 8vh;
    border: none;
}
#legend
{
    border: solid black 2px;
    width: 25vw;
    font-size: 2rem;
    font-style: bold;
}
#submit
{
    background-color: #184e77;
    font-size: 1rem;
    width: 14vw;
    height: 6vh;
}
#submit:hover
{
    background-color: orange;
}
label, input
{
    margin: 10px 10px 10px 10px;
    
}
input
{
    font-size: 1.2rem;
}
label
{
    text-decoration: underline;
    font-size: 1.5rem;
}
a{
    text-decoration: none;
    color: black;
    font-style: italic;
}
.connexion a
{
    color: black;
}